{% extends "::base.html.twig" %}

{% block title %}Search on Github{% endblock %}

{% block body %}

    <form action="{{ path('homepage') }}">

        <input type="text"
               placeholder="Username"
               name="q"
               id="q">

        <input type="submit" id="_submit" name="_submit" class="submit" value="Search on Github"/>
    </form>

    {% if githubUsers is not empty %}
        <h2>Results</h2>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% for flashMessage in app.session.flashbag.get('notice') %}

                <div class="flash-notice">{{ flashMessage }}</div>
            {% endfor %}
        </div>
        <ul>
            {% for githubUser in githubUsers %}
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{ githubUser.fullname }}</div>
                    {% if app.user %}
                        {% include 'AppBundle:Form:commentForm.html.twig' %}
                    {% endif %}
                </div>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}